/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self	
 *= require_pgwslider
 *= require_pgwslider.min
 */
body {
	background: linear-gradient(to top, #000, #fff);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1.name{
	text-align: center;
}

.context {
	margin-top: 20px;
	float: center;
	display: block;
	text-align: center;
	width: 700px;
    height: 500px;	
}

.button{
  background: #ca2525;
  font-size: 14px; 
  text-transform: uppercase; 
  padding: 0px 20px; 
  display: block; 
  margin: auto; 
  width: 200px; 
  height: 40px; 
  line-height: 40px; 
  text-align: center; 
  color: #fff; 
  border-radius: 3px; 
  box-shadow: 0px 5px 0px #aa2323; 
  text-decoration:none; 
  -webkit-transition: background .3s ease-in-out; 
}
 

.button:hover{
  background: #e15656;
}
 

.button:active{
  position: relative;  
  top: 3px;  
  box-shadow: 0px 2px 0px #aa2323;
}

